<section class="card">
  <div class="chat-container">
    <header class="chat-header">
      <h3 class="text-center">Chat Room</h3>
    </header>
    <main class="chat-main">
      <div class="chat-messages"></div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
        id="msg"
        type="text"
        placeholder="Enter Message"
        autocomplete="off"
        />
        <button class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
  <script src="/js/messages.js"></script>
</section>