<section class="card">
  <div class="chat-container">
    <header class="chat-header">
      <h3 class="text-center">Chat Room</h3>
    </header>
    <div class="chat-messages"></div>
  </div>
  <form id="chat-form">
    <input
    id="msg"
    type="text"
    placeholder="Enter Message"
    autocomplete="off"
    />
    <button class="btn btn-primary messageBtn">Send</button>
  </form>
</section>
<script src="/js/messages.js"></script>