<h1 class="text-center text-white">Solar Clicker!</h1>
<div class="container w-100 mx-20">
  <div class="row align-items-start">
    <div class="col-3 ">
      <div class="flex vh-100 mb-3 text-white">
        <h2 class="text-center ">SHOP</h2>
        <hr  size="8" >
        <h4 class="mercury">Mercury</h4>
        <h4 class="venus">Venus</h4>
        <h4 class="earth">Earth</h4>
        <h4 class="mars">Mars</h4>
        <h4 class="jupiter">Jupiter</h4>
        <h4 class="saturn">Saturn</h4>
        <h4 class="uranus">Uranus</h4>
        <h4 class="neptune">Neptune</h4>
        <h4 class="pluto">Pluto</h4>
      </div>
    </div>
    <div class="col-6  text-center">
      <div class="flex vh-100 mb-3">
        <img class="my-4 align-self-center col-12" src="https://tse4.mm.bing.net/th?id=OIP.xVOxyHmMxYm3pfWo14GELwAAAA&pid=Api&P=0" alt="placeholder">
        <button class="clicker col-12 align-self-center align-self-evenly text-white">
          Click Here</button>
      </div>
    </div>
    <div class="col-3 ">
      <div class="flex vh-100 mb-3">
        <h2 class="text-center text-white">Message Board</h2>

      </div>

    </div>
  </div>
  <style>
    body{
      background-image: url(https://images-assets.nasa.gov/image/PIA18906/PIA18906~medium.jpg);
    }
  </style>
</div>
