<h1 class="justify-content-center">Solar Clicker!</h1>
<div class="container">
  <div class="row align-items-start">
    <div class="col-3">
      <div class="card ">
        One of three columns
      </div>
    </div>
    <div class="col-6 text-center">
      <div class="card ">
        One of three columns
      </div>
      <button class="clicker">Click Here</button>
    </div>
    <div class="col-3">
      <div class="card ">
        One of three columns
      </div>

    </div>
  </div>
</div>
