<h1 class="text-center text-white">Solar Clicker!</h1>
<div class="container w-100 mx-20">
  <div class="row align-items-start">
    <div class="col-3 ">
      <div id="universe" class="flex vh-100 mb-3 text-white">
        <div class="row text-center">
          <h3 class=" col-10 ">Shop</h3>
          <h3 class="col-2">Price</h3>
        <hr size="8">

        </div>
        <div class="row align-items-center">
          <div class="col-2 hasMercury"></div>
          <button class="rounded mercury col-8 my-2" data-name="mercury" data-amount="1">Mercury</button>
          <div class="col-2 mercury-stars">15</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasVenus"></div>
          <button class="rounded venus col-8 my-2" data-name="venus" data-amount="1">Venus</button>
          <div class="col-2 venus-stars">200</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasEarth"></div>
          <button class="rounded earth col-8 my-2" data-name="earth" data-amount="1">Earth</button>
          <div class="col-2 earth-stars">900</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasMars"></div>
          <button class="rounded mars col-8 my-2" data-name="mars" data-amount="1">Mars</button>
          <div class="col-2 mars-stars">2000</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasJupiter"></div>
          <button class="rounded jupiter col-8 my-2" data-name="jupiter" data-amount="1">Jupiter</button>
          <div class="col-2 jupiter-stars">5000</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasSaturn"></div>
          <button class="rounded saturn col-8 my-2" data-name="saturn" data-amount="1">Saturn</button>
          <div class="col-2 saturn-stars">15000 </div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasUranus"></div>
          <button class="rounded uranus col-8 my-2" data-name="uranus" data-amount="1">Uranus</button>
          <div class="col-2 uranus-stars">40000</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasNeptune"></div>
          <button class="rounded neptune col-8 my-2" data-name="neptune" data-amount="1">Neptune</button>
          <div class="col-2 neptune-stars">90000</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasPluto"></div>
          <button class="rounded pluto col-8 my-2" data-name="pluto" data-amount="1">Pluto</button>
          <div class="col-2 pluto-stars">250000</div>
        </div>
        <div class="row align-items-center">
          <div class="col-2 hasBigBang"></div>
          <button class="rounded bigBang col-8 my-2" data-name="bigBang" data-amount="1">Big Bang</button>
          <div class="col-2 pluto-stars">3000000 </div>
        </div>
      </div>
    </div>
    <div class="col-6 text-center">
      <h4 class="text-white text-center stars">Stars:</h4>
      <h6 class="text-white text-center multiplier">Mulitplier:</h6>
      <div class="vh-100 row button flex mb-3">
        {{!-- <img class="my-4 align-self-center col-12"
          src="https://tse4.mm.bing.net/th?id=OIP.xVOxyHmMxYm3pfWo14GELwAAAA&pid=Api&P=0" alt="placeholder"> --}}
        <button class="text-center clicker rounded-circle col-8 text-dark">
          Click Here</button>
      </div>
    </div>
    <div class="col-3 ">
      <div class="flex vh-100 mb-3">
        <h2 class="text-center text-white">Message Board</h2>
        <hr size="8" class="text-white">
        {{> message}}
      </div>

    </div>
  </div>
  <style>
    body {
      background-image: url(https://images-assets.nasa.gov/image/PIA18906/PIA18906~medium.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;
    }

    .clicker {
      background-image: url(https://images-assets.nasa.gov/image/PIA00123/PIA00123~small.jpg);
      background-position: center;
      background-size: cover;
    }
  </style>
</div>
 <script src="/index.js"></script>