<h1 class="text-center">Solar Clicker!</h1>
<div class="container w-100 mx-20">
  <div class="row align-items-start">
    <div class="col-3 ">
      <div class="card vh-100 mb-3">
        <h2 class="text-center ">SHOP</h2>
        <hr  size="8" >
        <h4 class="mercury">Mercury</h4>
        <h4 class="venus">Venus</h4>
        <h4 class="earth">Earth</h4>
        <h4 class="mars">Mars</h4>
        <h4 class="jupiter">Jupiter</h4>
        <h4 class="saturn">Saturn</h4>
        <h4 class="uranus">Uranus</h4>
        <h4 class="neptune">Neptune</h4>
        <h4 class="pluto">Pluto</h4>
      </div>
    </div>
    <div class="col-6  text-center">
      <div class="card vh-100 mb-3">
        Click the Button!!
        <img class="my-4" src="https://tse4.mm.bing.net/th?id=OIP.xVOxyHmMxYm3pfWo14GELwAAAA&pid=Api&P=0" alt="placeholder">
        <button class="clicker col-4 align-self-center align-self-evenly">
          Click Here</button>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card vh-100 mb-3">
        <h2 class="text-center">Message Board</h2>

      </div>

    </div>
  </div>
</div>
