
  <nav class="row d-flex justify-content-center">
  <p class="d-flex justify-content-center col-4 lightGray text-danger h1 p-4 rounded-bottom">High Scores!!!</p>
  </nav>
  <!--{{#each Scores}}-->
  <div class="m-5 border rounded lightGray">
    <h2 class="rounded-top p-2 headerText">
        {{title}}
    </h2>
    <h4 class="px-2 rounded-bottom textColor">
            {{body}}
    </h4>
  </div>
<script src='.models/Score.js'></script>
