<body> 
<nav class="row d-flex justify-content-center">
  <p class="top d-flex justify-content-center col-4 lightGray h1 p-4 rounded-bottom">High Scores!!!</p>
    <nav class="navbar d-flex justify-content-center py-4 darkGray ">
    <a href="/login" class="links px-3 h2">Login</a> 
    <a href="/sign-up" class="links px-3 h2">Sign Up</a>
    <a href="/" class="links px-3 h2 hover-shadow">Solar Clicker</a>
</nav>
  <style>
    body{
      background-image: url(https://time.com/wp-content/uploads/2017/10/229-westerlund-21.jpg?w=2000);
    }
  </style>
  <div class="dv col-6">
      <h2 class="qq text-center text-light">User</h2>
      <hr  size="8" class="hh text-info">
  {{#each User}}
  {{/each}}
  </div>
  <div class="dv col-6">
     <h2 class="qq text-center text-light">Score</h2>
     <hr  size="8" class="hh text-info">
  {{#each Scores}}
  {{/each}}
  </div>
</body>
</html>

