<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>High Scores</title>
</head>
<body>
  <nav class="row d-flex justify-content-center">
  <p class="d-flex justify-content-center col-4 lightGray text-danger h1 p-4 rounded-bottom">High Scores!!!</p>
  </nav>
  <!--{{#each Scores}}-->
  <div class="m-5 border rounded lightGray">
    <h2 class="rounded-top p-2 headerText">
        {{title}}
    </h2>
    <h4 class="px-2 rounded-bottom textColor">
            {{body}}
    </h4>
  </div>
<script src='../models/Score.js'></script>
</body>
</html>