<body> 
<nav class="row d-flex justify-content-center">
  <p class="top d-flex justify-content-center col-4 lightGray h1 p-4 rounded-bottom">High Scores!!!</p>
    <nav class="navbar d-flex justify-content-center py-4 darkGray ">
    <a href="/" class="links px-3 h2">Login</a> 
    <a href="/api/game" class="links px-3 h2 hover-shadow">Solar Clicker</a>
</nav>
  <style>
    body{
      background-image: url(https://time.com/wp-content/uploads/2017/10/229-westerlund-21.jpg?w=2000);
    }
  </style>
  <div class="col-6">
      <h2 class="text-center text-light">User</h2>
      <hr  size="8" class="text-info">
  </div>
  <div class="col-6">
     <h2 class="text-center text-light">Score </h2>
     <hr  size="8" class="text-info">
  </div>
  {{#each Scores}}
  
  {{/each}}
</body>
</html>

