.button{
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.clicker {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
}
/* check to see if works */
.clicker:active{
  transform: scale(.9);
  transition: all  300ms ease-in-out;
}

.links{
  color:magenta;
  transition: all 800ms ease-in-out;
  font-family: Garamond, "Times New Roman", serif;
}

.links:hover {
  background-image: linear-gradient(to right, purple , blue);
  border: 2px solid black;
  padding: 10px;
  border-radius: 9px;
  color: rgb(8, 230, 250);
  font-size: 40px;
  transition: all 650ms ease-in-out;
}

.top {
  color:magenta;
  font-family: Garamond, "Times New Roman", serif;
}

.chat-form-container {
  height: 400px;
  width: 50px;
}

#chat-form {
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.btn-primary {
  background-color: gray;
  border: 2px;
  text-align: center;
}

.btn-primary:hover {
  opacity: 1;
  background-color: coral;
}

.dv {
  background: rgba(4, 4, 4, 0.5);
  height: 800px;
  width: 400px;
  border: 8px solid;
  padding: 10px;
  border-image: repeating-linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)) 20;
  column-gap: 10px;
  margin: 15px;
  font-family: Garamond, "Times New Roman", serif;
}

.hh {
  background-color: black;
  border: 1px solid magenta;
}

.li1 {
  background: -webkit-linear-gradient(yellow, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
}

.scoreE {
  background: -webkit-linear-gradient(yellow, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
}

.qq {
  background: -webkit-linear-gradient(yellow, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hide{
  display: none;
}